body
{
    background: ghostwhite;
    color: brown;
}

.word
{
    text-align: center;
    font-size: larger;
    color: blue;
    box-shadow: 0 0 20px 2px rgba(14, 20, 146, 0.5)
}

.highlight
{
    color: blue;
}

.media-recipe
{
    border: 1px solid rgb(5, 5, 73);
    padding: 5%;
} 

.media-list
{
    border: 1px solid rgb(5, 5, 73);
    padding: 5%;
}

.media-list h5
{
    text-align: center;
    font-family: cursive;
}